#delete curent rules and chains
iptables --flush
iptables --delete-chain

# allow established sessions
#iptables -A OUTPUT -m conntrack --ctstate ESTABLISHED -j ACCEPT
#iptables -A INPUT -m conntrack --ctstate ESTABLISHED,RELATED -j ACCEPT

# allow SSH
iptables -A INPUT -p tcp --dport 38476 -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT
iptables -A OUTPUT -p tcp --sport 38476 -m conntrack --ctstate ESTABLISHED -j ACCEPT

# allow outgoing SSH
iptables -A OUTPUT -p tcp --dport 22 -m conntrack --ctstate NEW,ESTABLISHED -j ACCEPT
iptables -A INPUT -p tcp --sport 22 -m conntrack --ctstate ESTABLISHED -j ACCEPT


# allow loopback
iptables -A INPUT -i lo -j ACCEPT
iptables -A OUTPUT -o lo -j ACCEPT

# block everything else 
iptables -A INPUT -j DROP
#iptables -A OUTPUT -j ACCEPT

#save
iptables-save
